.dropdown-phones {
    padding: 0 0;
    display: flex;
    flex-direction: column;

    &__toggle.active {
        .button__togle {
            transform: rotate(180deg);
        }
    }
    .button__togle {
        fill: #FFBE48;
    }

    &__header {
        flex-wrap: nowrap;
        align-items: center;
    }
    &__number{
        display: inline-block;
        padding: 12px;
        font-size: 14px;
        color: #33485D;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0;
    }

    &__menu {
        position: absolute;
        z-index: 4;
        transform: translate3d(0px, 34px, 0px);
        background-color: #fff;
    }
}
.visually-hidden{
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     bottom: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
