.button {
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 70px;
}

.button-1 {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 22px 33px 20px 33px;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: #000;
        background: #FFFFFF;
    }
}
.button-2 {
    background: linear-gradient(0deg, #FF485A, #FF485A);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 21px 72px 21px 56px;
}
