.catalog{
    padding-top: 33px;
    padding-bottom: 43px;

    &__block{
        position: relative;
    }

    &__link{
        position: relative;
        padding-top: 100%;
    }

    &__img{

    }
}
.ctl{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
