.categories {
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.categories-block {
    border-radius: 22px;
    background: url('../images/home.jpg') no-repeat;
    background-size: cover;
    &__header{
        align-items: center;
        padding-top: 82px;
        padding-bottom: 64px;

        @media screen and (min-width: 1500px) {
            padding-bottom: 83px;
        }
        @media (max-width: 1100px) {
            padding: 40px 0;
        }
    }
}





