.common {
    margin-top: 140px;
    background: #F7F9F9;

    &__block {
        display: flex;
        position: relative;
        align-items: center;
        padding: 265px 0 50px 0;

        &::after {
            content: "";
            position: absolute;
            top: -1px;
            left: -10%;
            width: 120%;
            height: 120px;
            background-image: radial-gradient(ellipse 60% 68% at 50% -23%, #fff 90%, #0000 90%);
        }

        @media screen and (min-width: 1100px) {
            &::before {
                content: "";
                position: absolute;
                top: -30%;
                left: 44%;
                transform: translate(-50%, -50%);
                width: 845px;
                height: 945px;
                background: url("../images/categories/fluid-linear-pop-product.png") no-repeat;
                z-index: 2;
            }

        }
    }
}



