.seo {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 6;
    top: 46px;
    left: 49.4%;
    transform: translate(-50%, -50%);

    &__btn {
    position: relative;

        &::before {
            pointer-events: none;
            position: absolute;
            top: 65%;
            right: -84px;
            display: block;
            width: 122px;
            height: 120px;
            z-index: -1;
            content: "";
            transform: translate(-50%, -50%);
            background: url('../images/deco__oval.png') center center no-repeat;

            @media (max-width: 350px) {
                right: -70px;
            }
        }
    }

    &__icon {
        margin-left: 20px;
    }
}

.seo__title {
    padding-left: 41px;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #6A677B;

    @media (max-width: 500px) {
        padding-left: 0;
    }
}
