.lable{
    text-align: center;
    padding: 7px 16px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}
