.menu-mobile {
    flex-direction: column;
    position: fixed;
    @media(min-width: 992px) {
        display: none;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;

        &__content {
            transform: translateX(0);
        }
    }

    button, a {
        font-size: 14px;
        color: #33485D;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0;
    }

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        transition: transform 250ms linear 250ms;

        @media screen and (min-width: 375px) {
            width: 375px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #34495E;
        padding: 20px;
    }

    &__body {
        padding: 20px;
        background-color: #fff;
    }

    &__logo {
        display: inline-block;
        align-self: start;

    }

    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            margin-bottom: 30px;
            color: #fff;
        }

        button {
            color: #fff;

            &:first-child {
                &:after {
                    position: absolute;
                    right: 0;
                    content: "";
                    height: 100%;
                    width: 2px;
                    border-right: 1px solid #fff;
                }
            }

            &:hover {
                text-shadow: 2px -1px 5px rgba(255, 255, 255, 1);
            }
        }

    }

    &__icon {
        display: inline-block;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;

        .icon {
            fill: #fff;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 30px 0;

        & > * {
            margin: 10px 0;

            &:first-child {
                .icon {
                    stroke: #33485D;
                }
            }

            .icon {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }

    .count {
        right: 0;
        max-width: 30px;
    }

    &__link {
        padding-left: 30px;

        &::before {
            left: 0;
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid #5C6D7D;

        .lang-header__link {
            display: inline-block;
            position: relative;
            color: #33485D;
            font-weight: 400;
        }
    }

    &__catalog {
        padding: 20px 0;
        border-top: 1px solid #5C6D7D;

        a {
            padding: 10px 0;
        }
    }
    &__turbine{
        display: flex;
        flex-direction: column;
    }
    &__customers {
        padding: 20px 0;
        border-top: 1px solid #5C6D7D;

        a {
            padding: 10px 0;
        }
    }

    &__cash {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        color: #5C6D7D;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0;
    }

    &__item:hover {
        color: orange;
    }
}
.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 1px solid #5C6D7D;
    padding: 20px 0;
    &__link{
        padding: 10px 0
    }
}
