.rating {
    display: flex;

    .reviews {
        margin-left: 10px;
        color: #A7B0B5;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 123%;
        text-decoration: none;
    }

    margin-bottom: 12px;
}
